body {
    background-color: #F5F5FB;
}
.login-card {
    border: 3px solid #F2F2F2;
    background-color: white;
}
.container-login-horizontal {
    display: flex; /* or inline-flex */
    flex-direction: column;
  }
.login-input {
    align-self: center;
}